<div class="row">
  <div class="col-md-4 .col-sm-4 .col-xs-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">

      </div>
      <div class="panel-footer">
        <h3><%= "#{ @listing.name }" %></h3>
        <p><%= "#{ @listing.description }" %></p>
        <p><%= "#{ @listing.price }" %></p>
        <hr>
        <p>Listed by: <%= "#{ @listing.user.username } about #{time_ago_in_words( @listing.created_at ) } ago" %>
      </p>
      </div>
    </div>
    <% if current_user %>
      <%= link_to 'Back', listings_path, class: "btn btn-primary"  %>
      <%= link_to "Edit", edit_listing_path( @listing ), class: "btn btn-warning" %></td>
      <%= link_to "Destroy", listing_path( @listing ), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?"} %></td>
    <% else %>
      <%= link_to 'Back', listings_path, class: "btn btn-primary"  %>
    <% end %>
  </div>
</div>